//- section#wayscommerce.wayscommerce
//-   .wayscommerce__body.wayscommerce__container
//-     a.wayscommerce__arrow(href="#")
//-       img.svg-ways(src="img/wayscommerce/Vector-ways.svg",alt="img")
//-       span назад
//-     .wayscommerce__title Как купить  
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/wayscommerce/image-ways-1.jpg", alt="img")
             
//-         .wayscommerce-block__title Ипотека
//-         .wayscommerce-block__text Проконсультируем по ипотеке, подберём лучшие условия, поможем с подготовкой и оформлением документов
//-         .wayscommerce-block__button.button-main
//-           .button-main__body
//-             a.button-main__link(href="#")
//-               span  рассчитать
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/wayscommerce/image-ways-1.jpg", alt="img")
             
//-         .wayscommerce-block__title Рассрочка
//-         .wayscommerce-block__text.wayscommerce-block__text_long 
//-           p Рассрочка 0% от застройщика до 15.12.2020 г. 
//-           p Первоначальный взнос 70% от стоимости квартиры, оставшаяся сумма выплачивается по согласованному графику, закрепленному в ДДУ.
//-           p Рассрочка не распространяется на квартиры площадью менее 37,01 кв.м.
//-           p Рассрочку предоставляет ООО «СЗ «СТИУР-СК»
//-         .wayscommerce-block__button.button-main
//-           .button-main__body.button-main__body_long
//-             a.button-main__link(href="#")
//-               span  Хочу квартиру в рассрочку
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/wayscommerce/image-ways-1.jpg", alt="img")
             
//-         .wayscommerce-block__title Электронная регистрация сделки
//-         .wayscommerce-block__text.wayscommerce-block__text_long1  Электронная регистрации сделки с недвижимостью доступна для граждан РФ уже более 1,5 лет. Оформление электронной регистрации сделки с недвижимостью позволяет зарегистрировать свое право на собственность через интернет, избегая обязательного посещения МФЦ или Росреестра.
//-         .wayscommerce-block__button.button-main
//-           .button-main__body.button-main__body_short 
//-             a.button-main__link(href="#")
//-               span  хочу 
 
//-  -------------акции ---------------------

//- section#actions.actions.wayscommerce
//-   .wayscommerce__body.wayscommerce__container
//-     a.wayscommerce__arrow(href="#")
//-       img.svg-ways(src="img/wayscommerce/Vector-ways.svg",alt="img")
//-       span назад
//-     .wayscommerce__title Акции   
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/actions/image-actions-1.jpg", alt="img")
//-         .wayscommerce-block__text с 13 Января
//-         .wayscommerce-block__title Евроремонт в подарок
//-         .wayscommerce-block__text Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
//-         a.wayscommerce-block__button(href="#") подробнее
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/actions/image-actions-2.jpg", alt="img")
//-         .wayscommerce-block__text с 13 Января
//-         .wayscommerce-block__title Евроремонт в подарок
//-         .wayscommerce-block__text Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
//-         a.wayscommerce-block__button(href="#") подробнее
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/actions/image-actions-3.jpg", alt="img")
//-         .wayscommerce-block__text с 13 Января
//-         .wayscommerce-block__title Евроремонт в подарок
//-         .wayscommerce-block__text Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
//-         a.wayscommerce-block__button(href="#") подробнее
//-     .wayscommerce__block.wayscommerce-block
//-       .wayscommerce-block__body
//-         .wayscommerce-block__fon
//-           .ibg.bg 
//-             .img-bg
//-               img(src="img/actions/image-actions-4.jpg", alt="img")
//-         .wayscommerce-block__text с 13 Января
//-         .wayscommerce-block__title Евроремонт в подарок
//-         .wayscommerce-block__text Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
//-         a.wayscommerce-block__button(href="#") подробнее
//- 

//-  ============newspage=================
//- section#news.newspage.actions.wayscommerce
//-   //- .news-block__net
//-   //-   img(src="img/newspage/netpage.png",alt="") 
//-   .wayscommerce__body.wayscommerce__container
//-     a.wayscommerce__arrow(href="#")
//-       img.svg-ways(src="img/wayscommerce/Vector-ways.svg",alt="img")
//-       span назад
//-     h2.wayscommerce__title Новости
//-     .news-blocks
//-       .news-block
//-         .news-block__body
//-           .news-block__img
//-             .ibg.bg
//-               img(src="img/newspage/imagenews-1.jpg",alt="image-news-1")
//-           .news-block__content.newspage-content
//-             .newspage-content__body
//-               .newspage-content__text-high Декабрь 28, 2020
//-               h4.newspage-content__title Фасадные работы
//-               .newspage-content__text-low Хотим поделиться с Вами одной занимательной историей из жизни нашего   клиента Год 2015. Компания Х процветает, прибыль растет и все, казалось бы прекрасно. 
//-               a.newspage-content__button(href="#") подробнее  
//-       .news-block
//-         .news-block__body
//-           .news-block__img
//-             .ibg.bg
//-               img(src="img/newspage/imagenews-1.jpg",alt="image-news-1")
//-           .news-block__content.newspage-content
//-             .newspage-content__body
//-               .newspage-content__text-high Декабрь 28, 2020
//-               h4.newspage-content__title Фасадные работы
//-               .newspage-content__text-low Хотим поделиться с Вами одной занимательной историей из жизни нашего   клиента Год 2015. Компания Х процветает, прибыль растет и все, казалось бы прекрасно. 
//-               a.newspage-content__button(href="#") подробнее 
//-       .news-block
//-         .news-block__body
//-           .news-block__img
//-             .ibg.bg
//-               img(src="img/newspage/imagenews-1.jpg",alt="image-news-1")
//-           .news-block__content.newspage-content
//-             .newspage-content__body
//-               .newspage-content__text-high Декабрь 28, 2020
//-               h4.newspage-content__title Фасадные работы
//-               .newspage-content__text-low Хотим поделиться с Вами одной занимательной историей из жизни нашего   клиента Год 2015. Компания Х процветает, прибыль растет и все, казалось бы прекрасно. 
//-               a.newspage-content__button(href="#") подробнее 
//-       .news-block
//-         .news-block__body
//-           .news-block__img
//-             .ibg.bg
//-               img(src="img/newspage/imagenews-1.jpg",alt="image-news-1")
//-           .news-block__content.newspage-content
//-             .newspage-content__body
//-               .newspage-content__text-high Декабрь 28, 2020
//-               h4.newspage-content__title Фасадные работы
//-               .newspage-content__text-low Хотим поделиться с Вами одной занимательной историей из жизни нашего   клиента Год 2015. Компания Х процветает, прибыль растет и все, казалось бы прекрасно. 
//-               a.newspage-content__button(href="#") подробнее 
  

section#contacts.contacts
  //- .template
  //-   img(src="img/netpage-cont.png",alt="") 

  .contacts__body
    .ibg.bg
      img(src="img/contacts/imagecon-map.jpg",alt="")
    .contacts__arrow
      a.return-green(href="#")
        img.return-green__img(src="img/contacts/Vector-ways.svg",alt="img")
        span назад
    .contacts__title Контакты
    .contacts__buttons
      .button-main
        .button-main__body
          a.button-main__link(href="#")
            span  Центральный офис
      .button-main-white
        .button-main-white__body
          a.button-main-white__link(href="#")
            span  Отдел продаж
      
    .contacts__plaza.contacts-plaza
      .contacts-plaza__body
        .text1 Центральный офис: Тюмень, ул.Малыгина, 86 корпус 1
        .text2 Отдел продаж: Тюмень, ул.Амурская, 39
        .text3 +7 (3452) 38-38-22
        .text4 info@g2000.pro
        .button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              span  как проехать
        .social-nav-footer
          .social-nav-footer__body
            a.social-nav-footer__icon(href="#")
              img(src="img/header/VK.svg",alt="img")
            a.social-nav-footer__icon(href="#")
              img(src="img/header/fb.svg",alt="img")
            a.social-nav-footer__icon(href="#")
              img(src="img/header/in.svg",alt="img")
    .marker
      img(src="img/contacts/vectorp.svg",alt="img")
