.button-main
  .button-main__body
    a.button-main__link(href="#")
      span  записаться на просмотр
.button-main-white
  .button-main-white__body
    a.button-main-white__link(href="#")
      span  записаться на просмотр

a.return-green(href="#")
  img.return-green__img(src="img/Vector-ways.svg",alt="img")
  span назад





.social-nav-footer
  .social-nav-footer__body
    a.social-nav-footer__icon(href="#")
      img(src="img/header/VK.svg",alt="img")
    a.social-nav-footer__icon(href="#")
      img(src="img/header/fb.svg",alt="img")
    a.social-nav-footer__icon(href="#")
      img(src="img/header/in.svg",alt="img")