.button-main
  .button-main__body
    a.button-main__link(href="#")
      span  записаться на просмотр
.button-main-white
  .button-main-white__body
    a.button-main-white__link(href="#")
      span  записаться на просмотр


.popup-thanks
	.popup-thanks__body.container
		.popup-thanks__header.header-popup-thanks
			.header-popup-thanks__body
				.header-popup-thanks__burger
					span
					span 
				.header-popup-thanks__icon
					img.icon(src="img/svg/mercedes-benz.svg",alt="")   
				.header-popup-thanks__title Ваша заявка принята!
				.header-popup-thanks__text Для уточнения деталей свяжитесь с оператором.  
