doctype html
html
	head

		title JKPark-bilder
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/style.css") 
	
	body
		div.wrapper
			main.page
				block header
				secttion.content-about
					block content-bilder
				block footer
		script(src="js/app.js")