.footer
	.footer__body
		.footer__plaza.plaza-footer
			.plaza-footer__body
				.plaza-footer__column
					img(src='img/footer/logo-footer.svg' )
				.plaza-footer__column.tiny-column
					.tiny-column__body
						a(href="#").tiny-column__text O проекте
						a(href="#").tiny-column__text Расположение и инфраструктура
						a(href="#").tiny-column__text Документы
				.plaza-footer__column.tiny-column
					.tiny-column__body
						a(href="#").tiny-column__text О застройщике
						a(href="#").tiny-column__text Способы покупки
						a(href="#").tiny-column__text Акции
						a(href="#").tiny-column__text Новости
						a(href="#").tiny-column__text Контакты
				.plaza-footer__column.tiny-footer
					.tiny-footer__body
						.tiny-footer__icon.icon-tiny-footer
							.icon-tiny-footer__body
								.icon-tiny-footer__button.icon-tiny-.button-main-white
									.button-main-white__body
										a.button-main-white__link(href="#")
											span  написать нам

								.icon-tiny-footer__button.icon-tiny-footer__button_green.button-main
									.button-main__body
										a.button-main__link(href="#")
											span  выбрать квартиру
						.tiny-footer__text.tiny-footer__text_one
							p Центральный офис: Тюмень, ул.Малыгина, 86 корпус 1
							p Отдел продаж: Тюмень, ул.Амурская, 39
						.tiny-footer__text.tiny-footer__text_two +7 (3452) 38-38-22
						.tiny-footer__text.tiny-footer__text_three info@g2000.pro

						.tiny-footer__social.social-nav-footer
							.social-nav-footer__body
								a.social-nav-footer__icon(href="#")
									img(src="img/header/VK.svg",alt="img")
								a.social-nav-footer__icon(href="#")
									img(src="img/header/fb.svg",alt="img")
								a.social-nav-footer__icon(href="#")
									img(src="img/header/in.svg",alt="img")
		.footer__bottom.bottom-footer
			.bottom-footer__body
				.bottom-footer__confidence
					a.bottom-footer__link(href="#") Политика конфиденциальности
					a.bottom-footer__link(href="#") Пользовательское соглашение