
header#header.header
	.header__body
		.fon-header
		.header__burger.icon-menu
			span
			span
			span
		a.header__logo(href="#")
			img(src='img/header/logo.svg' )
		.header__button.button-main
			.button-main__body
				a.button-main__link(href="#")
					span выбрать квартиру
		nav.header__menu.menu
			ul.menu__body
				li
					a.menu__link(href='#')
						p О проекте
				li
					a.menu__link(href='#')
						p Расположение и инфраструктура
				li
					a.menu__link(href='#')
						p Документы 
		.header__phone.phone-header
			.phone-header__body
				.phone-header__text +7 (3452) 38-38-22
				a.phone-header__link(href="#")
					span заказать звонок

