.left-sidebar
  .left-sidebar__body
    .sidebar__burger.icon-menu
      span
      span
      span
    .left-sidebar__logo
      a(href="#")
        img(src='img/header/logo.svg' )
      .left-sidebar__phone.phone-header
        .phone-header__body
          .phone-header__text +7 (3452) 38-38-22
          a.phone-header__link(href="#")
            span заказать звонок
    .left-sidebar__links.links-sidebar
      .links-sidebar__body
        a.links-sidebar__text(href="#") О проекте
        a.links-sidebar__text(href="#") Расположени   и  инфраструктура
        a.links-sidebar__text(href="#") Планировки
        a.links-sidebar__text(href="#") Документы
        a.links-sidebar__text(href="#") О застройщике
        a.links-sidebar__text(href="#") Способы покупки
        a.links-sidebar__text(href="#") Акции
        a.links-sidebar__text(href="#") Новости
        a.links-sidebar__text(href="#") Контакты
    .left-sidebar__button.button-main-white
      .button-main-white__body
        a.button-main-white__link(href="#")
          span  выбрать квартиру
    .left-sidebar__social.social-nav-footer
      .social-nav-footer__body
        span Мы в соцсетях
        a.social-nav-footer__icon(href="#")
          img(src="img/header/VK.svg",alt="img")
        a.social-nav-footer__icon(href="#")
          img(src="img/header/fb.svg",alt="img")
        a.social-nav-footer__icon(href="#")
          img(src="img/header/in.svg",alt="img")

header#header-white.header.header-white
  .header__body
    .fon-header
    .header__burger.icon-menu
      span
      span
      span
    a.header__logo(href="#")
      img(src='img/header/logo-dark.svg' )
    .header__button.button-main
      .button-main__body
        a.button-main__link(href="#")
          span выбрать квартиру
    nav.header__menu.menu
      ul.menu__body
        li
          a.menu__link(href='#')
            p О проекте
        li
          a.menu__link(href='#')
            p Расположение и инфраструктура
        li
          a.menu__link(href='#')
            p Документы 
    .header__phone.phone-header
      .phone-header__body
        .phone-header__text +7 (3452) 38-38-22
        a.phone-header__link(href="#")
          span заказать звонок

