@font-face {
  font-family: Lobster-Regular;
  src: local(Lobster-Regular), url("../fonts/Lobster-Regular.woff") format("woff"), url("../fonts/Lobster-Regular.ttf") format("truetype"), url("../fonts/Lobster-Regular}") format("embedded-opentype"), url("../fonts/Lobster-Regular.svg  ") format("svg"), url("../fonts/Lobster-Regular.otf  "), url("../fonts/Lobster-Regular.eot  ");
  font-weight: normal;
  font-stretch: normal; }

@font-face {
  font-family: Gotham Pro;
  src: local(Gotham Pro), url("../fonts/Gotham-Pro.woff") format("woff"), url("../fonts/Gotham-Pro.ttf") format("truetype"), url("../fonts/Gotham-Pro}") format("embedded-opentype"), url("../fonts/Gotham-Pro.svg  ") format("svg"), url("../fonts/Gotham-Pro.otf  "), url("../fonts/Gotham-Pro.eot  ");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: OpenSans;
  src: local(OpenSans-Regular), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular}") format("embedded-opentype"), url("../fonts/OpenSans-Regular.svg  ") format("svg"), url("../fonts/OpenSans-Regular.otf  "), url("../fonts/OpenSans-Regular.eot  ");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: ubantu;
  src: local(ubantu), url("../fonts/ubantu.woff") format("woff"), url("../fonts/ubantu.ttf") format("truetype"), url("../fonts/ubantu}") format("embedded-opentype"), url("../fonts/ubantu.svg  ") format("svg"), url("../fonts/ubantu.otf  "), url("../fonts/ubantu.eot  ");
  font-weight: normal;
  font-style: narmal;
  font-stretch: normal; }

@font-face {
  font-family: icomoon;
  src: local(icomoon), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon}") format("embedded-opentype"), url("../fonts/icomoon.svg  ") format("svg"), url("../fonts/icomoon.otf  "), url("../fonts/icomoon.eot  ");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }

.icomoon {
  width: 100%;
  height: 100%;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }
  .icomoon:before {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 100; }

@font-face {
  font-family: Lobster-Regular;
  src: local(Lobster-Regular), url("../fonts/Lobster-Regular.woff") format("woff"), url("../fonts/Lobster-Regular.ttf") format("truetype"), url("../fonts/Lobster-Regular}") format("embedded-opentype"), url("../fonts/Lobster-Regular.svg  ") format("svg"), url("../fonts/Lobster-Regular.otf  "), url("../fonts/Lobster-Regular.eot  ");
  font-weight: normal;
  font-stretch: normal; }

@font-face {
  font-family: Gotham Pro;
  src: local(Gotham Pro), url("../fonts/Gotham-Pro.woff") format("woff"), url("../fonts/Gotham-Pro.ttf") format("truetype"), url("../fonts/Gotham-Pro}") format("embedded-opentype"), url("../fonts/Gotham-Pro.svg  ") format("svg"), url("../fonts/Gotham-Pro.otf  "), url("../fonts/Gotham-Pro.eot  ");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: OpenSans;
  src: local(OpenSans-Regular), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular}") format("embedded-opentype"), url("../fonts/OpenSans-Regular.svg  ") format("svg"), url("../fonts/OpenSans-Regular.otf  "), url("../fonts/OpenSans-Regular.eot  ");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: ubantu;
  src: local(ubantu), url("../fonts/ubantu.woff") format("woff"), url("../fonts/ubantu.ttf") format("truetype"), url("../fonts/ubantu}") format("embedded-opentype"), url("../fonts/ubantu.svg  ") format("svg"), url("../fonts/ubantu.otf  "), url("../fonts/ubantu.eot  ");
  font-weight: normal;
  font-style: narmal;
  font-stretch: normal; }

@font-face {
  font-family: icomoon;
  src: local(icomoon), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon}") format("embedded-opentype"), url("../fonts/icomoon.svg  ") format("svg"), url("../fonts/icomoon.otf  "), url("../fonts/icomoon.eot  ");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }

.icomoon {
  width: 100%;
  height: 100%;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }
  .icomoon:before {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 100; }

.contacts__body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4% 0% 40% 4.5%; }

.contacts__arrow {
  position: relative;
  z-index: 2; }

.contacts__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 74px;
  color: #282828;
  position: relative;
  z-index: 2; }

.contacts__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 4% 0% 0% 0%; }
  .contacts__buttons .button-main,
  .contacts__buttons .button-main-white {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 16%;
    -ms-flex: 0 1 16%;
    flex: 0 1 16%; }
  .contacts__buttons .button-main-white__body {
    background: transparent; }
  .contacts__buttons .button-main__body {
    background: -webkit-gradient(linear, left top, right top, from(#725e55), to(#88563f));
    background: -o-linear-gradient(left, #725e55 0%, #88563f 100%);
    background: linear-gradient(90deg, #725e55 0%, #88563f 100%);
    border-radius: 43px;
    height: 43px;
    width: 198px; }

.contacts .marker {
  width: 46px;
  height: 46px;
  background: -webkit-gradient(linear, left top, right top, from(#725e55), to(#88563f));
  background: -o-linear-gradient(left, #725e55 0%, #88563f 100%);
  background: linear-gradient(90deg, #725e55 0%, #88563f 100%);
  border-radius: 50%;
  position: relative;
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 60%; }
  .contacts .marker img {
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.contacts .contacts-plaza__body {
  position: absolute;
  background-color: #fff;
  z-index: 5;
  width: 36%;
  height: 42%;
  top: 44%;
  left: 10%;
  padding: 4% 0% 0% 4%; }

.contacts .contacts-plaza .text1 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: #252D34;
  text-align: left; }

.contacts .contacts-plaza .text2 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: #252D34;
  text-align: left; }

.contacts .contacts-plaza .text3 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  text-align: right;
  color: #252D34;
  text-align: left;
  padding: 5% 0% 0% 0%; }

.contacts .contacts-plaza .text4 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: right;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #3FBC7B;
  text-align: left;
  padding: 5% 0% 0% 0%; }

.contacts .contacts-plaza .button-main-white {
  padding: 5% 0% 0% 0%; }

.contacts .contacts-plaza .social-nav-footer__body {
  padding: 8% 0% 0% 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .contacts .contacts-plaza .social-nav-footer__body__body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }

/*# sourceMappingURL=style.css.map */
