section#foolscreen-location.foolscreen-about
  .foolscreen-about__body
    .foolscreen-about__title О застройщике
    .foolscreen-about__text Компания "Жилье-2000" - надежный застройщик, который работает на рынке с 1996 г. и предлагает качественное жилье класса "комфорт" и "эконом". Новостройки в Тюмени в ЖК «Парковый» и «Первый Плехановский» - это недвижимость вашей мечты, созданная для идеальной жизни.
    .foolscreen-about__bg.ibg.bg
      .img-bg 
      img(src="img/bilder/fool-bilder.png",alt="img")