section#galery.galery
  .galery__body.container-jil  
    a.galery__img(data-fancybox='gallery', href='img/galery-bilder/image-35.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-35.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Депутатская, 78

    a.galery__img(data-fancybox='gallery', href='img/galery-bilder/image-36.png')  
      .ibg.bg 
        .img-bg
        img(src='img/galery-bilder/image-36.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Малыгина, 86, корп. 1
    a.galery__img(data-fancybox='gallery', href='img/galery-bilder/image-37.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-37.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Интернациональная,138
    a.galery__img(data-fancybox='gallery', href='img/galery-bilder/image-38.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-38.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Депутатская, 2278 
    
   
    a.galery__img.galery__img_hidden(data-fancybox='gallery', href='img/galery-bilder/image-38.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-38.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Депутатская, 2278 
    a.galery__img.galery__img_hidden(data-fancybox='gallery', href='img/galery-bilder/image-38.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-38.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Депутатская, 2278 
    a.galery__img.galery__img_hidden(data-fancybox='gallery', href='img/galery-bilder/image-38.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-38.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Депутатская, 2278 
    a.galery__img.galery__img_hidden(data-fancybox='gallery', href='img/galery-bilder/image-38.png')
      .ibg.bg
        .img-bg
        img(src='img/galery-bilder/image-38.png')
      .galery__text Жилой дом с коммерческими помещениями
      .galery__text.galery__text_small ул. Депутатская, 2278 
    .galery__button.button-main-white
      .button-main-white__body
        .button-main-white__link
          span  Показать еще 8
  p
    a(data-fancybox, data-src="#modal", href="javascript:;") что-то
  .modal-window#modal
    h2 модальное окно
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi nulla odio quam rem laborum, illo placeat vitae doloremque obcaecati nemo maiores molestias dolorem dolores 
    p quaerat blanditiis nostrum rerum omnis, saepe delectus atque! Similique qui nostrum laborum ipsa quisquam rem cum repellat tempore labore nihil, quod hic. In, harum adipisci.