.jil
  .container-jil
    .jil__body
      h2.jil__title Специализированный застройщик "Жилье-2000"
      .jil__text
        .jil__logo
          img(src="img/bilder/logo2000.svg",alt="img")
        p Компания «Жилье-2000» ведет свою деятельность с 1996 года, специализируется на строительстве жилья «эконом» и «комфорт» класса. Портфель реализованных проектов за последние 10 лет включает в себя 22 жилых дома с объектами соцкультбыта, расположенных в разных районах г. Тюмени ( по ул. Уральская, Мельникайте, Свободы, Малыгина, Мира, Интернациональная,Кремлевская, Амурская и др.), что в общей сложности составляет более 340 тыс. кв.м построенного и введенного в эксплуатацию жилья.
      .jil__img
        .ibg.bg
          img(src="img/bilder/img-jil.png",alt="img")
      .jil__text-low
          p В настоящее время АО "Специализированный застройщик "Жилье-2000" реализует два проекта застройки в районе ул. Московский тракт - это ЖК "Первый Плехановский" и ЖК "Парковый". Главными особенностями этих объектов являются кирпичное исполнение, благоустроенные дворы, функциональные планировки квартир.

          p Взвешенный подход к формированию цен, наличие партнерских программ с ведущими банками в сфере ипотечного кредитования , а также работа по всем социальным городским и федеральным программам позволяют купить квартиру в новостройке от Специализированного Застройщика «Жилье-2000» на самых привлекательных условиях.
