// =======================================================
//                  block-manager                           
// =======================================================

.manager {

		&__content {
padding: 0% 0% 0% 0%;
margin: 4% 0% 0% 0%;
background-color: $color1;
    }
    
}
.content-manager {
		&__body {
      @include jucb();
		}

		&__item {
      flex: 0 1 50%;
               @media screen and (max-width: 1290px) {
           flex: 0 1 100%;
          }
    }
    
    &__slider{
          flex: 0 1 50%;
          padding: 0% 0% 0% 1%;
          @media screen and (max-width: 1290px) {
           flex: 0 1 100%;
           padding: 3% 0% 3% 0%; 
          }
    }
}

// =====единичный блок=========
.tiny-manager {
  width: 100%;
  height: 100%;
  &__body {
    @include jucs(); 
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 8%;
    @media screen and (max-width: 1290px) {
         padding: 0% 3% 0% 8%;

    }
  }

  &__title {
    @include Text-Style-28;
    font-weight: 700;
    letter-spacing: 0.4px; 
    flex: 0 1 100%;
    padding: 9% 0% 0% 0%; 
    @media screen and (max-width: 1290px) {
         padding: 3% 0% 0% 0%; 

    }
    @media screen and (max-width: 350px) {
     font-size: 24px;
    }
  }
  &__text {
    &_one {
      @include Text-Style-29;
      flex: 0 1 80%; 
      padding: 3% 0% 0% 0%; 
    }
    &_two {
      @include Text-Style-29;
      flex: 0 1 100%;
      padding: 16.8% 0% 0% 0%;
      @media screen and (max-width: 1290px) {
             padding: 5% 0% 0% 0%;

      }  
    }
    &_three {
      @include Text-Style-30;
      line-height: 1;
      text-transform: uppercase;
      text-align: start;
      flex: 0 1 100%;
      padding: 1% 0% 0% 0%;  
    }
    &_four {
      @include Text-Style-31;
      flex: 0 1 100%;
      padding: 2% 0% 0% 0%;  
    }
  }

  &__button{
   flex: 0 1 100%;
   padding: 3.5% 0% 0% 0%;
   .button-main-white__body{
    width: 268px;
height: 48px; 
@media screen and (max-width: 350px) {
    width: 200px;
height: 48px; 
}
   }
   .button-main-white__link span{
@media screen and (max-width: 350px) {
font-size: 10px; 
}
   }
  }
}

// ====================================================
//                  slider-manager
// ====================================================
.container-manager {
  max-width: 30vw; 
  margin: 0px auto;
  @media screen and (max-width: 1290px) {
    max-width: 50vw;
  }
}
.slider-manager {
  width: 100%;
  height: 100%;
  &__body {
    @include jucc();
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0% 0% 0% 0%;
  }

  &__arrows {
    padding: 0% 0% 0% 0%;
  }
  // ---------------------------------------------------------------
  //  !!!!!!!!!управление шириной содержимого  одного слайда!!!!!!!!!!!!!!!!!!
  &__slide {
    // max-width: 200px;
    max-width: 100%;
  }
  // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  // ----------------------------------------------------------------

  &__slides {
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 0%;
  }
}

// ---------------------------------------------------------------
// !!!!!!!!!! управление расположением содержимого слайда!!!!!!!!!!!
.slick-slide {
  flex: 0 1 100%;
}

// ===========================================
.slider-manager-tiny {
  width: 100%;
  height: 100%;
  &__body {
    position: relative;
    text-align: left;
    @include flex();
    width: 100%;
    padding: 0% 0% 12.7% 0%;  
  }



  &__title {
    position: relative;
    flex: 0 1 100%;
    @include Text-Style-33;
    padding: 85% 0% 0% 0%;
       @media screen and (max-width: 520px) {
       font-size: 22px; 
      }
  }

  &__text {
    position: relative;
    z-index: 2;
    flex: 0 1 100%;
      @include Text-Style-34;
      line-height: 1;
      text-transform: uppercase;
      padding: 3% 0% 0% 0%;
          @media screen and (max-width: 520px) {
       font-size: 14px; 
      }
  }
 
}

.arrows-slider-manager {
  flex: 0 1 100%;
  @include juca();
  padding: 0% 0% 0% 0%;
 &__arrow {
    position: relative;
    position: absolute;
    width: 50px;
    height: 50px; 
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 50%;
    @include anim(0.2s);

    &:hover{ 
      background: $color7; 
    }
    img {
      position: absolute;
      z-index: 500;
      width: 30%;
      height: 50%;
      top: 50%; 
      transform: translate(90%, -50%); 
    }  
      &_prev {
        left: -50px;
      }

      &_next {
        right: -50px;
        img {
          transform: (translate(120%, -50%) rotate(180deg));      
        }
      }
    }
}

