.news{
.container-popular{
   max-width: 121vw; 
} 
.slider-popular {
  &__body {
    padding: 4% 0% 0% 0%;
  }
} 

 .slider-popular__slides{ box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);} 

  .slick-slide {
  margin: 0% 29px 0% 0%;
  @media screen and (max-width: 698px) {
   margin: 0% 0% 0% 0%;
  }  

}
    .arrows-slider-popular__arrow{
       bottom: 3px;  
         @media screen and (max-width: 698px) {
    bottom: 30%;      
         }
      }


      .slider-popular__arrows{
         @media screen and (max-width: 500px) {
   display: none; 
  }
      }
.arrows-slider-news__arrow_prev{
    left: 90%;
    @media screen and (max-width: 1270px) {
         left: 87%;  
    }
    @media screen and (max-width: 698px) {
left: 50%; 
 transform: translate(-70%,0%);  
    }


}
.arrows-slider-news__arrow_next{
    left: 93%;    
   @media screen and (max-width: 698px) {
   left: 50%;   
   transform: translate(70%,0%);  
    }
}
}
// ---------------------------
.slide1-news{
          
  &__body{
    width: 100%;
    height: 100%;
    @include jucs();
   padding: 3% 0% 0% 7%; 
  height: 15vw;
     @media screen and (max-width: 1400px) {
      height: 20vw;  
    }
    @media screen and (max-width: 1044px) {
      height: 35vw;    
    }
    @media screen and (max-width: 600px) {
      height: 70vw;      
    }
    @media screen and (max-width: 500px) {
      height: 200vw;       
    }
  }
 &__text1 {
@include Text-Style-39;
flex: 0 1 100%;
position: relative;
z-index: 2;
padding: 2% 0% 0% 0%;
 }
 &__title {
@include Text-Style-40;
flex: 0 1 100%;
position: relative; 
z-index: 2;
 padding: 2% 0% 0% 0%;
  @media screen and (max-width: 300px) {
    flex: 0 1 50%;        
    } 
 }
 &__text2 {
   @include Text-Style-41;
   flex: 0 1 100%;
   position: relative;
z-index: 2;
padding: 2% 25% 0% 0%;  
 @media screen and (max-width: 1044px) {
  padding: 2% 40% 0% 0%;   
 }
  }
  &__link {
@include Text-Style-42;
flex: 0 1 100%;
position: relative;
z-index: 2;
text-align: start;
padding: 5% 0% 0% 0%;
max-height: 20%;
@media screen and (max-width: 1260px) {
 padding: 2% 0% 0% 0%;
}
  }
}
// ------------------------------
.slide2-news{
&__body{
   width: 100%;
    height: 100%;
    @include jucs(); 
    background: #F8F9F7;
    height: 15vw;
   @media screen and (max-width: 1400px) {
      height: 20vw;  
    }
    @media screen and (max-width: 1044px) {
      height: 35vw;    
    }
    @media screen and (max-width: 600px) {
      height: 70vw;      
    }
     @media screen and (max-width: 500px) {
      height: 200vw;       
    }
}
&__img{
flex: 0 1 35%; 
position: relative; 
// padding: 0% 0% 29vh 0%;   
width: 100%;
height: 100%;
}
&__mesage{
flex: 0 1 65%; 
 padding: 4% 2% 0% 7%;
@include jucs();
  @media screen and (max-width: 1044px) {
   padding: 2% 5% 0% 2%;   
    }
.slide1-news{
 &__text1 {
color: #696E73;
   @media screen and (max-width: 1044px) {
   padding: 0% 50% 0% 0%;   
    }
@media screen and (max-width: 600px) {
  font-size: 14px;
  padding: 4% 50% 0% 0%;   
 }
 }
 &__title {
color: #252D34;
 padding: 4% 0% 0% 0%;  
 @media screen and (max-width: 600px) {
  font-size: 14px;
  padding: 4% 50% 0% 0%;  
 }
 }
 &__text2 {
 color: #252D34;
 padding: 2% 30% 0% 0%; 
  @media screen and (max-width: 1044px) {
  padding: 2% 50% 0% 0%;    
 }
  }
  &__link {
color: $color1;
padding: 7% 0% 0% 0%; 
 @media screen and (max-width: 1044px) {
   padding: 1% 0% 0% 0%;      
    }    
  }
} 

}

}



// --------------------------------
.slider-popular__buttons{
flex: 0 1 100%; 
 
}
.buttons-news{
  &__body{
  @include jucs();
  // background: blue;
  padding: 2% 0% 0% 0%;
     @media screen and (max-width: 698px) {
            margin: 10% 0% 0% 0%; 
 
    }
  }
  &__button{
  flex: 0 1 17%; 
  margin: 0% 10px 0% 0% ;  
  @media screen and (max-width: 698px) {
   flex: 0 1 100%; 
@include jucc();
 margin: 0% 0% 3% 0% ; 
  }
  }
.button-main__body{
  width: 195px;

}
.button-main__link{
 
}
}


