.container-slider-top{
max-width: 100%;
}

.slider-top {
  width: 100%;
  height: 100%; 
  &__body {
  @include jucc();
    width: 100%; 
    height: 100%;
    position: relative;
padding: 19.7% 0% 3.7% 9.35%;  
padding: 19.7% 9.35% 3.7% 9.35%;   

@media screen and (max-width: 1340px) {
 padding: 19.7% 9.35% 3.7% 9.35%;  

}
@media screen and (max-width: 1040px) {
 padding: 13% 15% 1% 15%;    

}
  }
  &__head {

}


&__arrows{ 
 position: absolute; 
 width: 100%; 
  top: 50%; 
  left: 0; 
transform: translate(0%,-50%); 
z-index: 500000;
 
} 

// ---------------------------------------------------------------
//  !!!!!!!!!управление шириной содержимого  одного слайда!!!!!!!!!!!!!!!!!!
&__slide {
    max-width: 80%; 
    @media screen and (max-width: 1230px) {
         max-width: 100%;  

    }
  }
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 
&__slides {  
background: blue; 
position: relative;
 
}

&__bottom{
flex: 0 1 100%;
background: red;
padding: 9.2% 0% 0% 0%;
}
}
// ---------------------------------------------------------------
// !!!!!!!!!! управление расположением содержимого слайда!!!!!!!!!!!
.slick-slide {
  // text-align: left;
  // text-align: center;
  // text-align: right ;
  flex: 0 1 20%;
  position: relative;
  
}
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// ---------------------------------------------

// ===========================================
.slider-top-tiny {
  width: 100%;height: 100%;
  &__body {
    position: relative;
    text-align: left;
    @include flex();
    padding: 0% 0% 0% 0%; 
  }

  &__title {
   position: relative;
    background-color: #9fff0f;
    flex: 0 1 100%;
  @include  Text-Style-6;
line-height: 1; 
text-transform: uppercase;
@media screen and (max-width: 1040px) {
 font-size: 40px; 
}
@media screen and (max-width: 540px) {
  font-size: 30px; 
}
  }

  &__text {
    position: relative;
    z-index: 2;
    // flex: 0 1 20%;
    &_one {
      
      opacity: 0.8;
flex: 0 1 56%;  
@include Text-Style-7;
line-height: 1; 
text-transform: lowercase; 
padding: 4.7% 0% 0% 0.3%;
@media screen and (max-width: 1040px) {
 font-size: 20px;  
}
@media screen and (max-width: 540px) {
 font-size: 12px;     
}

p{
  display: inline;
}    
    }

  }
 
}
// ----------------------------------------
.arrows-slider-top{
  
}
// ----------------------------------------
.arrows-slider-top{

  flex: 0 1 100%;
  &__arrow {  
position: relative; 
width: 50px;
height: 50px;
border-radius: 50%;
opacity: 0.56;
position: absolute;
z-index: 500;
background: #FFFFFF;
position: absolute; 
  top: 50%; 
   transform: translate(0%,-50%);  
@media screen and (max-width: 1040px) {
 width: 30px; 
height: 30px;
}
& img{
position: absolute;
z-index: 500;
top: 50%; 
left: 50%;
z-index: 4;
transform: translate(-60%,-50%); 
width: 9px;height: 20px;
}
  &_prev {  
 left: 3.7%;        
}
&_next {  
right: 2.7%;
}
 }}

//                  block-slider-top-bottom                           
// =======================================================
.slider-top-bottom{ 
  &__body{
     position: relative;
     @include jucc();
     width: 100%;
     height: 100%;
  }
// ----------ширина контента-----
  &__content {  
position: relative;
flex: 0 1 100%;
padding: 0% 0% 0% 0%;
}
  }

// ---------управление единичными блоками---------------------
.content-slider-top-bottom{
  &__body {  
position: relative;
@include jucs();
 @media screen and (max-width: 1340px) {
  @include jucb();  
  // background: blue;
 }
 @media screen and (max-width: 1100px) {
@include jucc();
}
}
// ----ширина единичного блока-----
&__item {   
flex: 0 1 22%;  

@media screen and (max-width: 1340px) {
 flex: 0 1 30%; 
 margin: 0% 0% 0% 0%;
}

@media screen and (max-width: 1100px) {
 flex: 0 1 100%;   
//  @include jucc(); 
 margin: 0% 0% 0% 0%;
padding: 0% 20% 0% 20%; 
}

@media screen and (max-width: 640px) {
 padding: 0% 0% 0% 0%; 
}

margin: 0% 6.2% 0% 0%; 
background: blue; 
&:last-child{
  margin: 0% 0% 0% 0%;
}


}

&__img{
  @media screen and (max-width: 1340px) {
   flex: 0 1 100%; 
   text-align: center;
   padding: 3% 0% 0% 0%;
  }
  }
}
// =====единичный блок=========
.tiny-slider-top-bottom {
  width: 100%;
  height: 100%;
  &__body {
    position: relative;
    @include jucs();  
    @include alic();
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 4% 0% 0% 0%; 
 
  }
  &__icon {
    position: relative;
    z-index: 2;
    background-color: #246eb9;
    opacity: 0.8;
    text-align: center;
    padding: 0% 0% 0% 0%;
   @media screen and (max-width: 540px) {
    flex: 0 1 10%;   

   }
   @media screen and (max-width: 500px) {
    margin: 0 auto;
   }
  }
  &__title {
    position: relative;
    z-index: 2; 
    background-color: #BEE1FF;
    @include Text-Style-8;
    // flex: 0 1 70%;
    padding: 0% 0% 0% 0%; 
     margin: 0% 0% 0% 6%;
     @media screen and (max-width: 500px) {
      flex: 0 1 100%; 
padding: 3% 0% 0% 0%; 
     }
  }
  }


  .icon-bottom{
  &__body{
  @include jucc();
  background: blue;

  // @media screen and (max-width: 540px) {
  // //  width: 40px;height: 40px; 
  // }
  }
  &__low{
 
  position: relative;
   img{
      width: 100%;
   height: 100%;  
  } 
 
  }
  &__high{
  position: absolute;
  z-index: 500;
  top: 50%; 
  left: 50%;
  @include jucc();
  img{
    width: 100%;
    height: 100%;
  }
  transform: translate(-50%,-50%);
  //  @media screen and (max-width: 540px) {
  //  width: 70%;
  // height: 70%;
  //   }
  }
}


// =======================================================
//               end of   block-slider-top-bottom                           
// =======================================================