section#foolscreen-about.foolscreen-about
  .foolscreen-about__body
    .foolscreen-about__title О проекте
    .foolscreen-about__text «Парковый» — современный жилой квартал практически в центре Тюмени. Расположенный на оживленной улице, он притягивает взгляды своей яркой архитектурой, большими окнами и цветными фасадами.
    .foolscreen-about__bg.ibg.bg
      img(src="img/fool-about/fool-about-bg.png",alt="img")
