section#nearhome.nearhome.pleasure
  .pleasure__body 
    .pleasure__content.content-pleasure
      .content-pleasure__body
        .content-pleasure__item1.tiny-pleasure
          .tiny-pleasure__body
            .tiny-pleasure__title Все рядом с домом
            .tiny-pleasure__text Удаленность от центра 10-15 минут, рядом остановка, школа, детский сад, больница, спортивный комплекс
            .tiny-pleasure__text В шаговой доступности лучшие места отдыха жителей района Московский тракт - Комсомольский парк и Сквер Авиаторов.
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.slider-near-js.container-spleasure 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/nearhome-slide1.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/nearhome-slide1.png",alt="") 
            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrows-spleasure__arrow_prev.arrows-nearhome__arrow_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrows-spleasure__arrow_next.arrows-nearhome__arrow_next
                img(src="img/pleasure/previu.svg",alt="img")
section#children.nearhome.pleasure
  .pleasure__body 
    .pleasure__content.content-pleasure
      .content-pleasure__body
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.slider-children-js.container-spleasure 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/children.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/children.png",alt="")  
            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrows-spleasure__arrow_prev.arrows-children__arrow_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrows-spleasure__arrow_next.arrows-children__arrow_next
                img(src="img/pleasure/previu.svg",alt="img")
        .content-pleasure__item1.tiny-pleasure
          .tiny-pleasure__body
            .tiny-pleasure__title Детские площадки
            .tiny-pleasure__text Детские площадки, оснащенные современными игровыми комплексами и многофункциональный игровой корт, для взрослых будут установлены турники, тренажеры, гимнастический комплекс
section#parking.nearhome.pleasure
  .pleasure__body 
    .pleasure__content.content-pleasure
      .content-pleasure__body
        .content-pleasure__item1.tiny-pleasure
          .tiny-pleasure__body
            .tiny-pleasure__title Парковочные места
            .tiny-pleasure__text Предусмотрены парковочные места во дворе и на прилегающей к жилому комплексу территории
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.slider-parking-js.container-spleasure 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/parking.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/children.png",alt="") 
            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrows-spleasure__arrow_prev.arrows-parking__arrow_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrows-spleasure__arrow_next.arrows-parking__arrow_next
                img(src="img/pleasure/previu.svg",alt="img")
section#tradition.nearhome.pleasure
  .pleasure__body 
    .pleasure__content.content-pleasure
      .content-pleasure__body
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.slider-tradition-js.container-spleasure 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/tradition.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/nearhome-slide1.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/children.png",alt="")  
            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrows-spleasure__arrow_prev.arrows-tradition__arrow_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrows-spleasure__arrow_next.arrows-tradition__arrow_next
                img(src="img/pleasure/previu.svg",alt="img")
        .content-pleasure__item1.tiny-pleasure
          .tiny-pleasure__body
            .tiny-pleasure__title Традиционно из кирпича
            .tiny-pleasure__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt aspernatur, ad facere laboriosam minus voluptates officiis dolor temporibus ratione nihil voluptas in qui id. Vero natus maxime repellendus tenetur ex!!!