section#parkoviy.parkoviy
  .parkoviy__body
    .bg
      img(src="img/parkoviy/parkoviy-bg.png",alt="img") 

    .parkoviy__content.content-parkoviy
      .content-parkoviy__body
        .content-parkoviy__item
          .location-head__title О проекте
        .content-parkoviy__item.parkoviy-item
          .parkoviy-item__body
            .tiny-location-low__text
              p «Парковый» - современный жилой комплекс в районе Московского тракта.  Удаленность от центра 10-15 минут, рядом остановка, школа, детский сад, больница, спортивный комплекс.

            .tiny-location-low__text
              p Отсюда легко можно добраться до центра или же выехать за город по объездной дороге. Рядом находится транспортное кольцо, поэтому вы сможете добраться с этого района до любого пункта на карте города. 
        .content-parkoviy__item.parkoviy-item-icons
          .parkoviy-item-icons__body
            .parkoviy-item-icons__item.tiny-location
              .tiny-location__body
                .tiny-location__icon.icon-bottom
                  .icon-bottom__body
                    .icon-bottom__low
                      img(src="img/location/svg-51.svg",alt="img")
                    .icon-bottom__high
                      img(src="img/location/svg-50.svg",alt="img")
                .tiny-location__text
                  big П
                  span лощадь квартир 27,87 - 82,88 м2
            .parkoviy-item-icons__item.tiny-location
              .tiny-location__body
                .tiny-location__icon.icon-bottom
                  .icon-bottom__low
                    img(src="img/location/svg-51.svg",alt="img")
                  .icon-bottom__high
                    img(src="img/location/svg-50.svg",alt="img")
                .tiny-location__text
                  big Э
                  span тажность 12-16
            .parkoviy-item-icons__item.tiny-location
              .tiny-location__body
                .tiny-location__icon.icon-bottom
                  .icon-bottom__body
                  .icon-bottom__low
                    img(src="img/location/svg-51.svg",alt="img")
                  .icon-bottom__high
                    img(src="img/location/svg-50.svg",alt="img")
                .tiny-location__text
                  big К
                  span оличество комнат от 1 до 3


