.slider-photo
  .slider-photo__body
    .slider-photo__slides
      .container-photo.slider-photo-js
        .slider-photo__slide.slider-photo-tiny
          .slider-photo-tiny__body
            .slider-photo-tiny__bg.ibg.bg
              img(src="img/nearhome/children.png",alt="img") 
        .slider-photo__slide.slider-photo-tiny
          .slider-photo-tiny__body
            .slider-photo-tiny__bg.ibg.bg
              img(src="img/nearhome/parking.png",alt="img") 
        .slider-photo__slide.slider-photo-tiny
          .slider-photo-tiny__body
            .slider-photo-tiny__bg.ibg.bg
              img(src="img/nearhome/tradition.png",alt="img")  

      .slider-photo__arrows.arrows-slider-photo
        .arrows-slider-photo__body
          .arrows-slider-photo__title Фото ЖК
          .arrows-slider-photo__text1 Детская площадка
          .arrows-slider-photo__text2 Детские площадки, оснащенные современными игровыми комплексами 

          .arrows-slider-photo__arrow.arrows-slider-photo__arrow_prev
            img.icon(src="img/pleasure/previu.svg",alt="img") 
          .arrows-slider-photo__arrow.arrows-slider-photo__arrow_next
            img.icon(src="img/pleasure/previu.svg",alt="img")  