section#video.video
  .video__body
    .ibg.bg
      img(src="img/video/video-bg.png",alt="")
    .video__title Видео о ЖК
 
    .video__content.content-video
      .content-video__body
        .content-video__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              span  Ноябрь 2019
        .content-video__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              span   Май 2019 
        .content-video__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              span   Май 2019 

        .content-video__item.tiny-video
          .tiny-video__body
            .tiny-video__button.button-main-white
              .button-main-white__body
                a.button-main-white__link(href="#")
                  span  
                    img(src="img/video/Polygon -video.svg",alt="img")
            .tiny-video__title СМОТРЕТЬ ВИДЕО
  .video__links.links-about
        .links-about__body
          a.link(href="#") 
            span Скачать буклет
          a.link(href="#") 
            span Ход строительства
          a.link(href="#") 
            span Панорама с воздуха
 
