.button-main {
  width: 100%;
  height: 100%;
  position: relative;

  &__body {
    width: 277px;
    height: 50px;
    background: linear-gradient(90deg, #3fbb7b 0%, #31cb50 100%);
    @include anim(0.2s);
    border-radius: 110px;
    @include jucc();

    &:hover {
      background: #4b4f53;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
@include center();

    span {
      @include Text-Style-5;
      width: 100%;
    }
  }
}

.button-main-white {
  &__body {
    position: relative;
    width: 220px;
    height: 48px;
    @include anim(0.2s);
    border-radius: 60px;
    background: #ffffff;
    &:hover {
      background: #4b4f53;
      color: #ffffff;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
@include center();
    span {
@include Text-Style-27; 
    }
  }
}

.return-green{
   @include jucs();
   @include alic(); 
    flex: 0 1 100%;
  span {
      display: block;
      @include Text-Style-172;
      margin-left: 17px;
      line-height: 1;
      @include anim(0.2s);
    }
    &:hover {
      span {
        color: $color4;
      }
    }
}

.social-nav-footer {  
  &__body {
 @include juce();  
  }
  &__icon {
    flex: 0 1 30px; 
  }
}




