
// -----------------------------------------------------------------------
@font-face {
font-family: Lobster-Regular;
src:
local(Lobster-Regular),
url('../fonts/Lobster-Regular.woff') format('woff'),
url('../fonts/Lobster-Regular.ttf') format('truetype'),
url('../fonts/Lobster-Regular}') format('embedded-opentype'),
url('../fonts/Lobster-Regular.svg  ') format('svg'),
url('../fonts/Lobster-Regular.otf  '),
url('../fonts/Lobster-Regular.eot  ');
font-weight: normal;
//font-style: italic;
font-stretch: normal;
}
// ========================================================================
// использовать снипет    font  пере{ }од через табуляцию
// ========================================================================

//===основной шрифт=========Gotham Pro====
@font-face {
font-family: Gotham Pro;
src:
local(Gotham Pro),
url('../fonts/Gotham-Pro.woff') format('woff'),
url('../fonts/Gotham-Pro.ttf') format('truetype'),
url('../fonts/Gotham-Pro}') format('embedded-opentype'),
url('../fonts/Gotham-Pro.svg  ') format('svg'),
url('../fonts/Gotham-Pro.otf  '),
url('../fonts/Gotham-Pro.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}
@font-face {
font-family: OpenSans;
src:
local(OpenSans-Regular),
url('../fonts/OpenSans-Regular.woff') format('woff'),
url('../fonts/OpenSans-Regular.ttf') format('truetype'),
url('../fonts/OpenSans-Regular}') format('embedded-opentype'),
url('../fonts/OpenSans-Regular.svg  ') format('svg'),
url('../fonts/OpenSans-Regular.otf  '),
url('../fonts/OpenSans-Regular.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}
@font-face {
font-family: ubantu;
src:
local(ubantu),
url('../fonts/ubantu.woff') format('woff'),
url('../fonts/ubantu.ttf') format('truetype'),
url('../fonts/ubantu}') format('embedded-opentype'),
url('../fonts/ubantu.svg  ') format('svg'),
url('../fonts/ubantu.otf  '),
url('../fonts/ubantu.eot  ');
font-weight: normal;
font-style: narmal;
font-stretch: normal;
}


// --------------OpenSans;---------------------------

@mixin Text-Style-11 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
text-align: right;
color: #252D34;
}

@mixin Text-Style-13 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;
text-align: right;
text-decoration-line: underline;
color: #3FBC7B;
}
@mixin Text-Style-14 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;
text-decoration-line: underline;
color: #666666;
}
@mixin Text-Style-15 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
color: #464646;
}

@mixin Text-Style-19 {
font-family: OpenSans; 
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #252D34;
}

@mixin Text-Style-22 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #252D34;
}

@mixin Text-Style-24 {
font-family: OpenSans; 
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
color: #252D34;
}

@mixin Text-Style-26 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}

@mixin Text-Style-29 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

@mixin Text-Style-36{
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 20px;
}


@mixin Text-Style-39 {
   font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.02em;
color: #FFFFFF;
}

@mixin Text-Style-41 {
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 145.66%;
letter-spacing: 0.02em;
color: #FFFFFF;
}

@mixin Text-Style-101{
font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
};

@mixin Text-Style-106{
 font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 13px;
color: #464646;
}

@mixin Text-Style-110{
font-family: OpenSans;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.02em;
color: #FFFFFF;
};


// =----------------------ubantu;-----------------------------
@mixin Text-Style-31 {
font-family: ubantu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
color: #FFFFFF;
}

@mixin Text-Style-25 {
font-family: ubantu; 
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 53px;
color: #FFFFFF;
}


@mixin Text-Style-107{
 font-family: ubantu; 
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 13px;
color: #252D34;}

@mixin Text-Style-108{
font-family: ubantu;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
text-align: right;
color: #252D34;
};



// ------------Gotham Pro------------------
@mixin Text-Style-42 {
    font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 136.73%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FFFFFF;
}


@mixin Text-Style-32 {
     font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 13px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #252D34;
}

@mixin Text-Style-27 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 13px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #252D34;
}
@mixin Text-Style-16 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 13px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #252D34;
}


@mixin Text-Style-10 {
font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 35px;
color: #323232;
}

@mixin Text-Style-20 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #444444;
}

@mixin Text-Style-34 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

@mixin Text-Style-23 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
color: #2F2F2F;
}

@mixin Text-Style-17 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 1px;
color: #2F2F2F;
}

@mixin Text-Style-7 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 30px;
color: #FFFFFF;

}
@mixin Text-Style-8 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
color: #FFFFFF;
}
@mixin Text-Style-9 {
font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 16px;
color: #323232;
}

@mixin Text-Style-40 {
   font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 18px;
letter-spacing: 0.02em;
color: #FFFFFF;
}

@mixin Text-Style-30 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
}

@mixin Text-Style-12 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 24px;
text-align: right;
color: #252D34;
}

@mixin Text-Style-35{
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 15px;
color: #3A3A3A;
}


@mixin Text-Style-37{
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 18px;
color: #3FBC7B;
}




@mixin Text-Style-38 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 53px;
color: #3A3A3A;
}


@mixin Text-Style-28 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 39px;
line-height: 53px;
color: #FFFFFF;
}

@mixin Text-Style-18 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 900; 
font-size: 42px;
line-height: 53px; 
color: #252D34;
}


@mixin Text-Style-33 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
text-align: center;
color: #FFFFFF;
}

@mixin Text-Style-102{
font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 36px;
color: #252D34;
};


@mixin Text-Style-109{
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 110.7%;
color: #FFFFFF;
};




@mixin Text-Style-101{
font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 13px;
color: #B1BDC9;
};

@mixin Text-Style-1 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 13px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}
@mixin Text-Style-2 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 16px;
color: #FFFFFF;
}
@mixin Text-Style-3 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 80.5%;
text-align: right;
color: #FFFFFF;
}
@mixin Text-Style-4 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 80.5%;
text-align: right;
color: #FFFFFF;
}
@mixin Text-Style-5 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 13px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}
@mixin Text-Style-6 {
font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 91px;
letter-spacing: 1px;
color: #FFFFFF;
}


@mixin Text-Style-21 {
font-family: Gotham Pro;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 46px;
color: #373737;
text-transform: lowercase;

}

@mixin Text-Style-100{
font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 63px;
color: #FFFFFF;
text-transform: uppercase;
};

@mixin Text-Style-105{
 font-family: Gotham Pro;
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 53px;
color: #3A3A3A;
}

// =========================================================================
@font-face {
  font-family: icomoon;
  src:
    local(icomoon),
    url('../fonts/icomoon.woff') format("woff"),
    url('../fonts/icomoon.ttf') format("truetype"),
    url("../fonts/icomoon}") format('embedded-opentype'),
    url("../fonts/icomoon.svg  ") format("svg"),
    url("../fonts/icomoon.otf  "),
    url("../fonts/icomoon.eot  ");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}


.icomoon {
  width: 100%;
  height: 100%;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    position: absolute;
    @include tr(-50%, -50%, 0px);
    top: 50%;
    left: 50%;
    z-index: 100;
  }
}


