
extends common/location-page
block header
	include common/header
	include content-location/foolscreen-location
	include content/nav
block content-location
	include content-location/location-about
	include content-location/location-map
	include content-location/location-infro
	include content-about/photo



block footer
	include common/footer
