
extends common/bilder-page
block header
	include common/header
	include content-bilder/foolscreen-bilder
	include content/nav
block content-bilder
	include content-bilder/jilio2000
	include content-bilder/galery

block footer
	include common/footer
