extends common/home

block header
	//- include content/net
	//- include common/animals
	//- include common/header

block content
	//- include content/some-block 
	//- include content/slider-top 
	//- include content/about
	//- include content/location
	//- include content/nav
	//- include content/pleasure
	//- include content/safity
	//- include content/panorama
	include content/manager


block footer
	//- include common/footer
