
extends common/wayscommerce-page
block header
	//- include common/header-white
block content-wayscommerce
	include content-wayscommerce/wayscommerce
	//- include content/nav
block footer
	//- include common/footer
