
extends common/about-page
block header
	include common/header
	include content-about/foolscreen-about
block content-about
	include content-about/parkoviy
	include content-about/video
	include content-about/nearhome
	include content-about/photo
	include content/choise

block footer
	include common/footer
