
extends common/about-page
block header
	//- include common/header
block content-about
	//- include content-about/foolscreen-about
	//- include content-about/parkoviy
	//- include content-about/video
	include content/pleasure
	include content-about/nearhome

block footer
	//- include common/footer
