extends common/home

block header
	//- include content/net
	//- include common/animals
	include common/header

block content
	//- include content/some-block 
	include content/slider-top 
	include content/nav
	include content/about
	include content/popular
	include content/pleasure
	include content/location
	include content/safity
	include content/panorama
	include content/manager



block footer
	include common/footer
