.jil {
		&__body {
      @include alic();
      @media screen and (max-width:  800px) {
   padding: 0% 2% 0% 3%;
   } 
      @media screen and (max-width:  400px) { 
         padding: 0% 5% 0% 3%;
        } 
}

		&__title {
      @include Text-Style-160;
      padding: 0% 0% 2% 0%;
@media screen and (max-width:  800px) {
    font-size: 20px; 
   line-height: 1.5;
    padding: 0% 0% 5% 0%;  
   } 
       	

}

		&__text {
      @include jucs();
       
      p{
        @include Text-Style-122; 
        flex: 0 1 80%;
        @media screen and (max-width:  1300px) { 
           padding: 0% 0% 0% 3%;
          } 
          @media screen and (max-width: 800px) { 
            padding: 5% 0% 0% 0%;
            } 
      }
		}
		&__logo {
      flex: 0 1 14%; 
		}

		&__img {
      position: relative;
      width: 95%;
     padding: 0% 0% 50% 0%; 
     margin: 5% 0% 0% 0%;
		}

		&__text-low {
      @include jucb();
      padding: 2% 0% 0% 0%;
      p {
        flex: 0 1 48%;
        @include Text-Style-122;
      }
		}
}

