
.location.location_about
  .location__body.container
    .location__head.location-head
      .location-head__body
        .location-head__title О проекте
    
    .location__content.content-location
      .content-location__body
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big П
              span лощадь квартир 27,87 - 82,88 м2
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big Э
              span тажность 12-16
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big К
              span оличество комнат от 1 до 3
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big И
              span потека от ведущих банков 
          .location__content-low.content-location-low
      .content-location-low__body
        .content-location-low__item.tiny-location
          .tiny-location-low__body
            .tiny-location-low__text
              p «Парковый» - современный жилой комплекс в районе Московского тракта.  Удаленность от центра 10-15 минут, рядом остановка, школа, детский сад, больница, спортивный комплекс.
        .content-location-low__item.tiny-location 
          .tiny-location-low__body
            .tiny-location-low__text
              p Отсюда легко можно добраться до центра или же выехать за город по объездной дороге. Рядом находится транспортное кольцо, поэтому вы сможете добраться с этого района до любого пункта на карте города. 
      .content-about__links.links-about
        .links-about__body
          a.link(href="#") 
            span Скачать буклет
          a.link(href="#") 
            span Ход строительства
          a.link(href="#") 
            span Панорама с воздуха
          a.link(href="#") 
            span Видео о комплексе

