section#choise.choise
  .container
    .choise__body
      .choise__head
          .choise-head__title 
            big В
            span ыбрать квартиру

      .choise__content.content-choise
        .content-choise__body
          .content-choise__item.tiny-choise
            .tiny-choise__title Количество комнат
            .tiny-choise__body
              .tiny-choise__text
                span C
              .tiny-choise__text
                span 1
              .tiny-choise__text
                span 2
              .tiny-choise__text
                span 3
          .content-choise__item.tiny-choise
            .tiny-choise__title Стоимость
            .tiny-choise__text-rubic
              p 93 571 920 ₽ - 38 598 120 ₽
              span

          .content-choise__item.tiny-choise
            .tiny-choise__title Площадь, м²
            .tiny-choise__text-rubic
              p 70 - 236
              span
          .content-choise__item.tiny-choise
            .tiny-choise__title Этаж
            .tiny-choise__text-rubic
              p 1 - 4
              span
  
          .content-choise__button.button-main
            .button-main__body
              a.button-main__link(href="#")
                span  смотреть

