.location
  .location__body.container
    .location__head.location-head
      .location-head__body
        .location-head__title Расположение
    
    .location__content.content-location
      .content-location__body
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big Р
              span азвитая инфраструктура
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big С
              span овременное жилье в окружении зелени
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big Т
              span ранспортная доступность
    .location__content-low.content-location-low
      .content-location-low__body
        .content-location-low__item.tiny-location
          .tiny-location-low__body
            .tiny-location-low__text
              p Детские площадки, оснащенные современными игровыми комплексами и многофункциональный игровой корт, для взрослых будут установлены турники, тренажеры, гимнастический комплекс

              p Предусмотрены парковочные места во дворе и на прилегающей к жилому комплексу территории.

              p В этом районе есть 19 школ и гимназий, 10 детских садов, ТРЦ «Колумб» с кинотеатром и магазины крупных торговых сетей. 
        .content-location-low__item.tiny-location 
          .tiny-location-low__body
            .tiny-location-low__text
              p Любителям спортивного образа жизни понравятся 6 фитнес-центров и спорткомплекс «Дорожник» с картингом и бассейном с двумя вышками и трамплином для прыжков в воду.

              p Объект находится в районе Московского тракта, что гарантирует прекрасную транспортную доступность. Рядом находится транспортное кольцо, которое позволяет легко добраться до любого пункта на карте города.


.location-content-img
  .location-content-img__body
    .location-content-img__bg.ibg.bg
      img(src="img/location/location-img.png",alt="")   