.manager
    .manager__content.content-manager
      .content-manager__body
        .content-manager__item.tiny-manager
          .tiny-manager__body
            .tiny-manager__title Связаться со специалистом
            .tiny-manager__text.tiny-manager__text_one Специалисты отдела продаж помогут подобрать оптимальный вариант квартиры
            .tiny-manager__button.button-main-white
              .button-main-white__body
                a.button-main-white__link(href="#")
                  span  записаться на встречу
            .tiny-manager__text.tiny-manager__text_two Офис продаж

            .tiny-manager__text.tiny-manager__text_three +7 (3452) 38-38-22
            .tiny-manager__text.tiny-manager__text_four По будням с 8:30 до 20:00, в выходные с 11:00 до 18:00
        .content-manager__slider.slider-manager
          .slider-manager__body.container-manager
            .slider-manager__slides.container-manager.slider-manager-js
              .slider-manager__slide.slider-manager-tiny
                .slider-manager-tiny__body
                  .slider-manager-tiny__bg.ibg.bg
                    img(src="img/manager/aleftina.png",alt="img") 
                  .slider-manager-tiny__title Алевтина
                  .slider-manager-tiny__text менеджер по продаже недвижимости 
              .slider-manager__slide.slider-manager-tiny
                .slider-manager-tiny__body
                  .slider-manager-tiny__bg.ibg.bg
                    img(src="img/manager/aleftina.png",alt="img") 
                  .slider-manager-tiny__title Алевтина
                  .slider-manager-tiny__text менеджер по продаже недвижимости 
              .slider-manager__slide.slider-manager-tiny
                .slider-manager-tiny__body
                  .slider-manager-tiny__bg.ibg.bg
                    img(src="img/manager/aleftina.png",alt="img") 
                  .slider-manager-tiny__title Алевтина
                  .slider-manager-tiny__text менеджер по продаже недвижимости 
        
            .slider-manager__arrows.arrows-slider-manager
              .arrows-slider-manager__arrow.arrows-slider-manager__arrow_prev
                img.icon(src="img/manager/arrow-manager.svg",alt="img") 
              .arrows-slider-manager__arrow.arrows-slider-manager__arrow_next
                img.icon(src="img/manager/arrow-manager.svg",alt="img") 


