.nav
  .nav__body
    ul.nav__items
      li.nav__text
        a(href="#") О застройщике
      li.nav__text
        a(href="#") Способы покупки
      li.nav__text
        a(href="#") Акции
      li.nav__text
        a(href="#") Новости
      li.nav__text
        a(href="#") Контакты
    .nav__social.social-nav
      .social-nav__body
        a.social-nav__icon(href="#")
          img(src="img/header/VK.svg",alt="img")
        a.social-nav__icon(href="#")
          img(src="img/header/fb.svg",alt="img")
        a.social-nav__icon(href="#")
          img(src="img/header/in.svg",alt="img")

    .nav__button.button-main
      .button-main__body
        a.button-main__link(href="#")
          span  записаться на просмотр
