section#news.news.slider-popular.slider-popular
  .container
    .slider-popular__body.container-popular
      .slider-popular__head
          .head-popular__title 
            big Н
            span овости и акции 
      .slider-popular__slides.container-popular.slider-news-js
        .slider-popular__slide.slide1-news
          .slide1-news__body
            .ibg.bg
              img(src="img/news/slide1-news.png",alt="img")
            .slide1-news__text1 с 13 Января
            .slide1-news__title Евроремонт в подарок
            .slide1-news__text2 Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
            a.slide1-news__link(href="#") Подробнее
        .slider-popular__slide.slide2-news
          .slide2-news__body
            .slide2-news__img
              .ibg.bg
                img(src="img/news/slide2-news.png",alt="img")
            .slide2-news__mesage
              .slide1-news__text1 Декабрь 28, 2020
              .slide1-news__title Фасадные работы
              .slide1-news__text2 Хотим поделиться с Вами одной занимательной историей из жизни нашего клиента Год 2015. Компания Х процветает, прибыль растет и все, казалось бы прекрасно.
              a.slide1-news__link(href="#") Подробнее
        .slider-popular__slide.slide1-news
          .slide1-news__body
            .ibg.bg
              img(src="img/news/slide1-news.png",alt="img")
            .slide1-news__text1 с 13 Января
            .slide1-news__title Евроремонт в подарок
            .slide1-news__text2 Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
            a.slide1-news__link(href="#") Подробнее
        .slider-popular__slide.slide1-news
          .slide1-news__body
            .ibg.bg
              img(src="img/news/slide1-news.png",alt="img")
            .slide1-news__text1 с 13 Января
            .slide1-news__title Евроремонт в подарок
            .slide1-news__text2 Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
            a.slide1-news__link(href="#") Подробнее
        .slider-popular__slide.slide1-news
          .slide1-news__body
            .ibg.bg
              img(src="img/news/slide1-news.png",alt="img")
            .slide1-news__text1 с 13 Января
            .slide1-news__title Евроремонт в подарок
            .slide1-news__text2 Земная группа формировалась ближе к Солнцу, однако pадиотелескоп Максвелла недетерминировано требует большего внимания к анализу ошибок, которые даёт апогей.
            a.slide1-news__link(href="#") Подробнее

      .slider-popular__arrows.arrows-slider-popular
        .arrows-slider-popular__arrow.arrows-slider-news__arrow_prev
          img(src="img/manager/arrow-manager.svg",alt="img")
        .arrows-slider-popular__arrow.arrows-slider-news__arrow_next
          img(src="img/manager/arrow-manager.svg",alt="img")
      .slider-popular__buttons.buttons-news
        .buttons-news__body
          .buttons-news__button.button-main
            .button-main__body
              a.button-main__link(href="#")
                span  Все новости
          .buttons-news__button.button-main
            .button-main__body
              a.button-main__link(href="#")
                span  Все акции

