.panorama
  .container
    .panorama__body
      .ibg.bg
        img(src="img/panorama/panorama-bg.png",alt="panorama")
      .panorama__item.tiny-panorama
        .tiny-panorama__body
          .tiny-panorama__title Панорама
          .tiny-panorama__text Посмотрите, какой вид откроется из   ваших окон
          .tiny-panorama__icon
            img(src="img/panorama/pan-icon.svg",alt="")
      .panorama__button.button-main-white
        .button-main-white__body
          a.button-main-white__link(href="#")
            span  Смотреть панораму