.panorama.container
  .panorama__body
    .panorama__bg.ibg.bg
      img(src="img/panorama/panorama-bg.png",alt="") 
    .panorama__title Панорама
    .panorama__text Посмотрите, какой вид откроется из ваших окон
    .panorama__icon
      img.icon(src="img/panorama/pan-icon.svg",alt="")
    .panorama__button.button-main-white
      .button-main-white__body
        a.button-main-white__link(href="#")
          span  Смотреть панораму