.pleasure
  .pleasure__body.container
    .pleasure__content.content-pleasure
      .content-pleasure__body
        .content-pleasure__item1.tiny-pleasure
          .tiny-pleasure__body
            .tiny-pleasure__title 
              big Н
              span аслаждайся солнцем и свежим воздухом
            .tiny-pleasure__text.tiny-pleasure__text_one 
              big Ж
              span ители «
              big П
              span аркового» получат удовольствие от красоты и спокойствия природы Комсомольского парка и сквера Авиаторов. Квартал ориентирован на Юг, поэтому каждая квартира максимально наполнена солнечным светом.
            .tiny-pleasure__button.button-main
              .button-main__body
                a.button-main__link(href="#")
                  span  выбрать квартиру
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.spleasure-js.container-spleasure 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrows-spleasure__arrow_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrows-spleasure__arrow_next
                img(src="img/pleasure/previu.svg",alt="img")