.slider-popular
  .container
    .slider-popular__body.container-popular
      .slider-popular__head
          .head-popular__title 
            big П
            span опулярные
      .slider-popular__slides.container-popular.slider-popular-js
        .slider-popular__slide.slide-popular
          .slide-popular__body
            .slide-popular__item
                .slide-popular__icon
                   img(src="img/popular/flat.png",alt="img")
            .slide-popular__item.right-side
              .right-side__body
                .tiny-right-side
                  .tiny-right-side__body
                    .tiny-right-side__title Студия №12
                    .tiny-right-side__text-double.text-double
                      .text-double__body
                        .text-double__item
                          span Площадь
                          p 37,16 m
                            small 2
                        .text-double__item
                          span Этаж
                          p 12/7
                    .tiny-right-side__text 38 598 120 ₽
        .slider-popular__slide.slide-popular
          .slide-popular__body
            .slide-popular__item
                .slide-popular__icon
                   img(src="img/popular/flat.png",alt="img")
            .slide-popular__item.right-side
              .right-side__body
                .tiny-right-side
                  .tiny-right-side__body
                    .tiny-right-side__title Студия №12
                    .tiny-right-side__text-double.text-double
                      .text-double__body
                        .text-double__item
                          span Площадь
                          p 37,16 m
                            small 2
                        .text-double__item
                          span Этаж
                          p 12/7
                    .tiny-right-side__text 38 598 120 ₽
        .slider-popular__slide.slide-popular
          .slide-popular__body
            .slide-popular__item
                .slide-popular__icon
                   img(src="img/popular/flat.png",alt="img")
            .slide-popular__item.right-side
              .right-side__body
                .tiny-right-side
                  .tiny-right-side__body
                    .tiny-right-side__title Студия №12
                    .tiny-right-side__text-double.text-double
                      .text-double__body
                        .text-double__item
                          span Площадь
                          p 37,16 m
                            small 2
                        .text-double__item
                          span Этаж
                          p 12/7
                    .tiny-right-side__text 38 598 120 ₽
        .slider-popular__slide.slide-popular
          .slide-popular__body
            .slide-popular__item
                .slide-popular__icon
                   img(src="img/popular/flat.png",alt="img")
            .slide-popular__item.right-side
              .right-side__body
                .tiny-right-side
                  .tiny-right-side__body
                    .tiny-right-side__title Студия №12
                    .tiny-right-side__text-double.text-double
                      .text-double__body
                        .text-double__item
                          span Площадь
                          p 37,16 m
                            small 2
                        .text-double__item
                          span Этаж
                          p 12/7
                    .tiny-right-side__text 38 598 120 ₽
        .slider-popular__slide.slide-popular
          .slide-popular__body
            .slide-popular__item
                .slide-popular__icon
                   img(src="img/popular/flat.png",alt="img")
            .slide-popular__item.right-side
              .right-side__body
                .tiny-right-side
                  .tiny-right-side__body
                    .tiny-right-side__title Студия №12
                    .tiny-right-side__text-double.text-double
                      .text-double__body
                        .text-double__item
                          span Площадь
                          p 37,16 m
                            small 2
                        .text-double__item
                          span Этаж
                          p 12/7
                    .tiny-right-side__text 38 598 120 ₽
 
      .slider-popular__arrows.arrows-slider-popular
        .arrows-slider-popular__arrow.arrows-slider-popular__arrow_prev
          img(src="img/manager/arrow-manager.svg",alt="img")
        .arrows-slider-popular__arrow.arrows-slider-popular__arrow_next
          img(src="img/manager/arrow-manager.svg",alt="img")

