.location.safity
  .location__body.container
    .location__head.location-head
      .location-head__body
        .location-head__title Безопасность и доступность
    
    .location__content.content-location
      .content-location__body
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big С
              span истема наблюдения
              p в паркинге, во дворе, в холлах и лифтах
        .content-location__item.tiny-location
          .tiny-location__body
            .tiny-location__icon.icon-bottom
              .icon-bottom__body
                .icon-bottom__low
                  img(src="img/location/svg-51.svg",alt="img")
                .icon-bottom__high
                  img(src="img/location/svg-50.svg",alt="img")
            .tiny-location__text
              big П
              span редусмотрены парковочные места
              p во дворе и на прилегающей к жилому комплексу территории
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.container-spleasure.safity-js
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 

            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrow-saf_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrow-saf_next
                img(src="img/pleasure/previu.svg",alt="img")
