.slider-bild
  .slider-bild__body.container
    .slider-bild__head.head-tiny
      .head-tiny__title 
        big Х
        span од строительства
      .head-tiny__body
        .head-tiny__text 
          big П
          span ериод
        .head-tiny__check
          span За все время 
    
    .slider-bild__slides
      .slider-bild__arrows.arrows-slider-bild
        .arrows-slider-bild__arrow.arrows-slider-bild__arrow_prev
          img.icon(src="img/manager/arrow-manager.svg",alt="img") 
        .arrows-slider-bild__arrow.arrows-slider-bild__arrow_next
          img.icon(src="img/manager/arrow-manager.svg",alt="img") 
      .slider-bild-js.container-bild 
        .slider-bild__slide.slider-bild-tiny
          .slider-bild-tiny__body
            .slider-bild-tiny__bg.ibg.bg
              img(src="img/slider-bild/img-bild-1.png",alt="img") 
            .slider-bild-tiny__bg-black.bg
            .slider-bild-tiny__title 
              big З
              span авершены монолитные работы подземной части здания.
            .slider-bild-tiny__text.slider-bild-tiny__text_one 31.01. 19
        .slider-bild__slide.slider-bild-tiny
          .slider-bild-tiny__body
            .slider-bild-tiny__bg.ibg.bg
              img(src="img/slider-bild/img-bild-2.png",alt="img") 
            .slider-bild-tiny__bg-black.bg
            .slider-bild-tiny__title 
              big З
              span авершены монолитные работы подземной части здания.
            .slider-bild-tiny__text.slider-bild-tiny__text_one 31.01. 19
        .slider-bild__slide.slider-bild-tiny
          .slider-bild-tiny__body
            .slider-bild-tiny__bg.ibg.bg
              img(src="img/slider-bild/img-bild-1.png",alt="img") 
            .slider-bild-tiny__bg-black.bg
            .slider-bild-tiny__title 
              big З
              span авершены монолитные работы подземной части здания.
            .slider-bild-tiny__text.slider-bild-tiny__text_one 31.01. 19
        .slider-bild__slide.slider-bild-tiny
          .slider-bild-tiny__body
            .slider-bild-tiny__bg.ibg.bg
              img(src="img/slider-bild/img-bild-3.png",alt="img")  
            .slider-bild-tiny__bg-black.bg
            .slider-bild-tiny__title 
              big З
              span авершены монолитные работы подземной части здания.
            .slider-bild-tiny__text.slider-bild-tiny__text_one 31.01. 19
.slider-bild-marks
  .slider-bild-marks__body
    a.slider-bild-marks__text(href="#") Февраль
      span
    a.slider-bild-marks__text(href="#") Январь
      span
    a.slider-bild-marks__text(href="#") Декабрь
      span
    a.slider-bild-marks__text(href="#") Ноябрь
      span
    a.slider-bild-marks__text(href="#") Октябрь
      span
    a.slider-bild-marks__text(href="#") Сентябрь
      span
    a.slider-bild-marks__text(href="#") Август
      span
    a.slider-bild-marks__text(href="#") Июль
      span
    a.slider-bild-marks__text(href="#") Июнь
      span
    a.slider-bild-marks__text(href="#") Май
      span
    a.slider-bild-marks__text(href="#") Апрель
      span
    a.slider-bild-marks__text(href="#") Март
      span

