


.slider-top
	.slider-top__body
		.head-tiny__bg.ibg.bg
			img(src="img/header/img-1.png",alt="") 
		.slider-top__pendel
				img(src="img/header/pendel.png",alt="pendel")
		.slider-top__slides
			.slider-top-js.container-slider-top 
				.slider-top__slide.slider-top-tiny
					.slider-top-tiny__body
						.slider-top-tiny__title 
							big К
							span вартиры в кирпичном 	доме 
							p от 2,1 млн ₽
						.slider-top-tiny__text.slider-top-tiny__text_one  
							span
								big Ж
								span илой комплекс в комфортном районе 
								span 
								big Т
								span юмени 
							p в 10 минутах от центра.
				.slider-top__slide.slider-top-tiny
					.slider-top-tiny__body
						.slider-top-tiny__title Мы предоставляем 	весь спектр услуг

			.slider-top__arrows.arrows-slider-top
				.arrows-slider-top__arrow.arrows-slider-top__arrow_prev
					img.icon(src="img/header/svg-7.svg",alt="") 
				.arrows-slider-top__arrow.arrows-slider-top__arrow_next
					img.icon(src="img/header/svg-6.svg",alt="") 



		.slider-top__bottom.slider-top-bottom
			.slider-top-bottom__body
				.slider-top-bottom__content.content-slider-top-bottom
					.content-slider-top-bottom__body
						.content-slider-top-bottom__item.tiny-slider-top-bottom
							.tiny-slider-top-bottom__body
								.tiny-slider-top-bottom__icon.icon-bottom
									.icon-bottom__body
										.icon-bottom__low
											img(src="img/header/svg-1.svg",alt="img")
										.icon-bottom__high
											img(src="img/header/svg-2.svg",alt="img")
								.tiny-slider-top-bottom__title 
									p Застройщик с опытом
									p более 20 лет
						.content-slider-top-bottom__item.tiny-slider-top-bottom
							.tiny-slider-top-bottom__body
								.tiny-slider-top-bottom__icon.icon-bottom
									.icon-bottom__body
										.icon-bottom__low
											img(src="img/header/svg-1.svg",alt="img")
										.icon-bottom__high
											img(src="img/header/svg-4.svg",alt="img")
								.tiny-slider-top-bottom__title
									p Строим только 
									p кирпичные дома
						.content-slider-top-bottom__item.tiny-slider-top-bottom
							.tiny-slider-top-bottom__body
								.tiny-slider-top-bottom__icon.icon-bottom
									.icon-bottom__body
										.icon-bottom__low
											img(src="img/header/svg-1.svg",alt="img")
										.icon-bottom__high
											img(src="img/header/svg-5.svg",alt="img")
								.tiny-slider-top-bottom__title
									p 10 минут 
									p до центра
						.content-slider-top-bottom__img
							img(src="img/header/svg-10.svg",alt="img")

