section#location-about.location-about.parkoviy
  .parkoviy__body
    .parkoviy__content.content-parkoviy
      .content-parkoviy__body
        .content-parkoviy__item
          .location-head__title Расположение
            
        .content-parkoviy__item.parkoviy-item-icons
          .parkoviy-item-icons__body
            .parkoviy-item-icons__item.tiny-location
              .tiny-location__body
                .tiny-location__icon.icon-bottom
                  .icon-bottom__body
                    .icon-bottom__low
                      img(src="img/location/svg-51.svg",alt="img")
                    .icon-bottom__high
                      img(src="img/location/svg-50.svg",alt="img")
                .tiny-location__text Развитая инфраструктура
            .parkoviy-item-icons__item.tiny-location
              .tiny-location__body
                .tiny-location__icon.icon-bottom
                  .icon-bottom__low
                    img(src="img/location/svg-51.svg",alt="img")
                  .icon-bottom__high
                    img(src="img/location/svg-50.svg",alt="img")
                .tiny-location__text Современное жилье в окружении зелени
            .parkoviy-item-icons__item.tiny-location
              .tiny-location__body
                .tiny-location__icon.icon-bottom
                  .icon-bottom__body
                  .icon-bottom__low
                    img(src="img/location/svg-51.svg",alt="img")
                  .icon-bottom__high
                    img(src="img/location/svg-50.svg",alt="img")
                .tiny-location__text Транспортная доступность 