section#location-infro.nearhome.pleasure.location-infro
  .pleasure__body
    .pleasure__content.content-pleasure
      .content-pleasure__body
        .content-pleasure__item2.spleasure
          .spleasure__body
            .spleasure__slides.slider-near-js.container-spleasure 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/location/img-location.png",alt="")  
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/pleasure/pleasure-bg.png",alt="") 
              .spleasure__slide.spleasure-tiny
                .spleasure-tiny__body
                  .spleasure-tiny__bg.ibg.bg
                    img(src="img/nearhome/nearhome-slide1.png",alt="") 
            .spleasure__arrows.arrows-spleasure
              .arrows-spleasure__arrow.arrows-spleasure__arrow_prev.arrows-nearhome__arrow_prev
                img(src="img/pleasure/previu.svg",alt="img")
              .arrows-spleasure__arrow.arrows-spleasure__arrow_next.arrows-nearhome__arrow_next
                img(src="img/pleasure/previu.svg",alt="img")
        .content-pleasure__item1.tiny-pleasure
          .tiny-pleasure__body
            .tiny-pleasure__title Все рядом с домом
            .tiny-pleasure__text Удаленность от центра 10-15 минут, рядом остановка, школа, детский сад, больница, спортивный комплекс
            .tiny-pleasure__text В шаговой доступности лучшие места отдыха жителей района Московский тракт - Комсомольский парк и Сквер Авиаторов.