section#location-map.location-map.location-content-img
  .location-content-img__body
    .location-content-img__bg.ibg.bg
      img(src="img/location/location-img.png",alt="") 
    .location-content__buttons.content-buttons
      .content-buttons__body
        .content-buttons__button.button-main-white
          .button-main-white__body 
            a.button-main-white__link(href="#")
              span  все  
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/horse.svg",alt="img")
              span  детям 
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/tree.svg",alt="img")
              span  отдых 
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/bus.svg",alt="img")
              span  транспорт 
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/cort.svg",alt="img")
              span  магазины и услуги 
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/sport.svg",alt="img")
              span  спорт 
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/education.svg",alt="img")
              span  школы 
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/cup.svg",alt="img")
              span  кафе
        .content-buttons__button.button-main-white
          .button-main-white__body
            a.button-main-white__link(href="#")
              img(src="img/location/medcin.svg",alt="img")
              span  медицина  