.nearhome{
.tiny-pleasure__text{@include Text-Style-22;}
.pleasure__body{padding: 0% 0% 0% 10%;}
.content-pleasure__item1{flex: 0 1 36%;}
.content-pleasure__item2{flex: 0 1 60%;}
.container-spleasure { max-width: 54vw;}
.spleasure-tiny__body{padding: 0% 0% 54% 0%;}




}
